server:
  # Включаем режим HA
  ha:
    enabled: true
    replicas: 3
    # Конфигурация бэкенда Consul
    config: |
      ui = true

      listener "tcp" {
        tls_disabled = 1
        address = "[::]:8200"
        cluster_address = "[::]:8201"
      }

      storage "consul" {
      # Адрес сервиса Consul (обычно consul-server в вашем namespace)
        address = "consul-server.consul.svc.cluster.local:8500"
        path = "vault/"
      }

      service_registration "consul" {
        address = "consul-server.consul.svc.cluster.local:8500"
      }
